body {
  margin: 0;
/*  background-color: #e1f4fd;*/
}


header {
  display: inline-table;
  height: 1000px;
  overflow: hidden;
}

header video {
  width: 100%;
}

#main {
  background-color: #fff;
  z-index: 1;
  padding-top: 100px;
}

#percentread{
  background-image: url('../img/emoji-bg.jpg');
  background-repeat: repeat-x;
  /*background: #63f9e0;*/
  position: fixed;
  top:0;left:0;
  width:0;
  height:50px;
 /* height: 4px;*/
  z-index: 5555;
}

.progress-bertha {
  position: fixed;
  width:50px;
  top:0;left:0;
  z-index: 5555;
}

#lede1 {
  z-index: -100;
}

#lede2 {
  z-index: -99;
}

#lede3 {
  z-index: -98;
}

.lede-content {
  max-width: 60%;
  position: relative;
  margin: 0 auto 0 120px;
  text-align: left;
}

.hed {
  padding-bottom: 20px;
}

.hero {
  width: 100%;
  position: absolute;
}

.hero img {
  width: 100%;
}

h1 {
  font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
  font-size: 60px;
  color: #ec008c;
  font-weight: normal;
  vertical-align: middle;
  display: inline;
}

.dek {
  font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
  font-size: 28px;
  color: #f27fb2;
  text-align: left;
  margin: 0;
  padding: 0;
}

.subhed {
  font-family: 'HaasTextBold', Helvetica, Arial, sans-serif;
  font-size: 34px;
  margin-top: 60px;
  color: #fff;
}

.byline {
  color: #ec008c;
  font-size: 21px;
}

#container {
  width: 100%;
  margin: 0 auto;
  font-family: Helvetica, Arial, sans-serif;
}

.content_wrapper {
  display: inline;
}

.text-col {
  width: 50%;
  max-width: 970px;
  margin: 60px auto;
  font: 18px 'TiemposTextWeb-Regular', Georgia, Times, serif;
  line-height: 1.6em;
  color: #3c3c3c;
}

.inline_media {
/*  float: right;*/
  min-width: 25%;
/*  margin: 10px -60% 40px 40px;*/
  margin: 40px auto;
  text-align: center;
  width: 80%;
}

.img-wrapper {
  position: relative;
  display: inline-block;
}

.inline_media img {
  width: 100%;
  position: relative;
  z-index: 1;
  border: 15px solid #f27fb2;
}

.img-caption {
  padding: 10px 20px 10px 0;
  margin-top: -4px;
}

.caption {
  font: 13px 'HaasText', Helvetica, Arial, sans-serif;
  color: #555;
}

.credit {
  font: 11px 'TiemposTextWeb-Regular', Georgia, Times, serif;
  color: #999;
}

.inline_media .emoji {
  width: 140px;
  border: none;
  position: absolute;
  right: 200px;
  margin-top: 60px;
  z-index: 1000;
}

#more {
  margin: 20px auto 48px;
}

.recirc{
  font-family: 'HaasDisplayBold', Helvetica, Arial, sans-serif;
  width:55%;
  padding:20px 0 80px 0;
  margin:0 auto 300px;
  border-top: 10px solid #dc08f8;
}

.recirc a{
  font-size: 28px;
  text-decoration: none;
  color: #48007b;
}

.recirc1{
  width: 50%;
  display: block; 
  float: left; 
  padding: 10px; 
  box-sizing: border-box; 
  vertical-align: top; 
}

.recirc1 img{
  width:100%;
  height: auto;
}

.recirc h2 {
  font-size: 32px;
  color: #dc08f8;
}

.terminal .recirc {
  display: none;
}

.terminal .video {
  display: none;
}

.clearfix:after {
 visibility: hidden;
 display: block;
 font-size: 0;
 content: " ";
 clear: both;
 height: 0;
 }

.clearfix { display: inline-block; }
/* start commented backslash hack \*/

* html .clearfix { height: 1%; }

.clearfix { display: block; }

*, *:after, *:before {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


@media screen and (max-width: 1020px) {

  h1 {
    font-size: 55px;
  }

  .text-col {
    margin: 40px 30px 60px;
    width: auto;
  }

  .inline_media {
    float: none;
    margin: 0 auto;
  }

}

@media screen and (max-width: 760px) {

  .top-banner {
    display: none;
  }

  .hed {
    width: 100%;
  }

  h1 {
    width: 100%;
    font-size: 30px;
  }

  .subhed {
    font-size: 24px;
    line-height: 27px;
  }

  .text-col {
    margin: 50px 20px;
    font-size: 16px;
    line-height: 25px;
  }

  .inline_media {
    float: none;
    max-width: 100%;
    margin: 10px 0 0 0;
  }

  .img-wrapper img {
    width: 100%;
  }

}